In [3]:
import pandas as pd
data_frame = pd.read_csv('ACME-HappinessSurvey2020.csv')
data_frame.shape

(126, 7)

In [4]:
happy = data_frame[data_frame["Y"]==1]
happy.describe()

          Y         X1         X2         X3         X4         X5         X6
count  69.0  69.000000  69.000000  69.000000  69.000000  69.000000  69.000000
mean    1.0   4.536232   2.507246   3.449275   3.797101   3.884058   4.376812
std     0.0   0.698311   1.106441   1.022342   0.900649   1.064621   0.768908
min     1.0   3.000000   1.000000   1.000000   1.000000   1.000000   1.000000
25%     1.0   4.000000   2.000000   3.000000   3.000000   3.000000   4.000000
50%     1.0   5.000000   2.000000   3.000000   4.000000   4.000000   5.000000
75%     1.0   5.000000   3.000000   4.000000   4.000000   5.000000   5.000000
max     1.0   5.000000   5.000000   5.000000   5.000000   5.000000   5.000000

In [5]:
unhappy = data_frame[data_frame["Y"]==0]
unhappy.describe()

          Y         X1         X2         X3         X4         X5         X6
count  57.0  57.000000  57.000000  57.000000  57.000000  57.000000  57.000000
mean    0.0   4.087719   2.561404   3.140351   3.684211   3.368421   4.105263
std     0.0   0.851064   1.134170   1.007802   0.848484   1.189712   0.838455
min     0.0   1.000000   1.000000   1.000000   2.000000   1.000000   2.000000
25%     0.0   4.000000   2.000000   3.000000   3.000000   3.000000   3.000000
50%     0.0   4.000000   3.000000   3.000000   4.000000   4.000000   4.000000
75%     0.0   5.000000   3.000000   4.000000   4.000000   4.000000   5.000000
max     0.0   5.000000   5.000000   5.000000   5.000000   5.000000   5.000000

In [6]:
#Questions in the happy customers group are separated.
happy1 = pd.DataFrame(happy, columns = ['X1'])
happy2 = pd.DataFrame(happy, columns = ['X2'])
happy3 = pd.DataFrame(happy, columns = ['X3'])
happy4 = pd.DataFrame(happy, columns = ['X4'])
happy5 = pd.DataFrame(happy, columns = ['X5'])
happy6 = pd.DataFrame(happy, columns = ['X6'])

In [15]:
#People are divided into three groups according to their answers.
#(4-5): satisfied
#3: moderate
#(1-2): unsatisfied
sa_happy1 = happy1[happy1["X1"]>=4] #happy customers which are satisfied with X1
m_happy1 = happy1[happy1["X1"]==3] #happy customers which finds X1 moderate
unsa_happy1 = happy1[happy1["X1"]<3] #happy customers which are unsatisfied with X1
#Number of satisfied, moderate and unsatisfied customers are assigned to corresponding variables.
number_of_satisfiedhappy1 = sa_happy1.shape[0]
number_of_moderatehappy1 = m_happy1.shape[0]
number_of_unsatisfiedhappy1 = unsa_happy1.shape[0]

In [16]:
sa_happy2 = happy2[happy2["X2"]>=4]
m_happy2 = happy2[happy2["X2"]==3]
unsa_happy2 = happy2[happy2["X2"]<3]
number_of_satisfiedhappy2 = sa_happy2.shape[0]
number_of_moderatehappy2 = m_happy2.shape[0]
number_of_unsatisfiedhappy2 = unsa_happy2.shape[0]

In [17]:
sa_happy3 = happy3[happy3["X3"]>=4]
m_happy3 = happy3[happy3["X3"]==3]
unsa_happy3 = happy3[happy3["X3"]<3]
number_of_satisfiedhappy3 = sa_happy3.shape[0]
number_of_moderatehappy3 = m_happy3.shape[0]
number_of_unsatisfiedhappy3 = unsa_happy3.shape[0]

In [18]:
sa_happy4 = happy4[happy4["X4"]>=4]
m_happy4 = happy4[happy4["X4"]==3]
unsa_happy4 = happy4[happy4["X4"]<3]
number_of_satisfiedhappy4 = sa_happy4.shape[0]
number_of_moderatehappy4 = m_happy4.shape[0]
number_of_unsatisfiedhappy4 = unsa_happy4.shape[0]

In [19]:
sa_happy5 = happy5[happy5["X5"]>=4]
m_happy5 = happy5[happy5["X5"]==3]
unsa_happy5 = happy5[happy5["X5"]<3]
number_of_satisfiedhappy5 = sa_happy5.shape[0]
number_of_moderatehappy5 = m_happy5.shape[0]
number_of_unsatisfiedhappy5 = unsa_happy5.shape[0]

In [20]:
sa_happy6 = happy6[happy6["X6"]>=4]
m_happy6 = happy6[happy6["X6"]==3]
unsa_happy6 = happy6[happy6["X6"]<3]
number_of_satisfiedhappy6 = sa_happy6.shape[0]
number_of_moderatehappy6 = m_happy6.shape[0]
number_of_unsatisfiedhappy6 = unsa_happy6.shape[0]

In [22]:
#Questions in the unhappy customers group are separated.
unhappy1 = pd.DataFrame(happy, columns = ['X1'])
unhappy2 = pd.DataFrame(happy, columns = ['X2'])
unhappy3 = pd.DataFrame(happy, columns = ['X3'])
unhappy4 = pd.DataFrame(happy, columns = ['X4'])
unhappy5 = pd.DataFrame(happy, columns = ['X5'])
unhappy6 = pd.DataFrame(happy, columns = ['X6'])

In [29]:
sa_unhappy1 = unhappy1[unhappy1["X1"]>=4] #unhappy customers which are satisfied with X1
m_unhappy1 = unhappy1[unhappy1["X1"]==3] #unhappy customers which finds X1 moderate
unsa_unhappy1 = unhappy1[unhappy1["X1"]<3] #unhappy customers which are unsatisfied with X1
number_of_satisfiedunhappy1 = sa_unhappy1.shape[0]
number_of_moderateunhappy1 = m_unhappy1.shape[0]
number_of_unsatisfiedunhappy1 = unsa_unhappy1.shape[0]

In [30]:
sa_unhappy2 = unhappy2[unhappy2["X2"]>=4]
m_unhappy2 = unhappy2[unhappy2["X2"]==3]
unsa_unhappy2 = unhappy2[unhappy2["X2"]<3]
number_of_satisfiedunhappy2 = sa_unhappy2.shape[0]
number_of_moderateunhappy2 = m_unhappy2.shape[0]
number_of_unsatisfiedunhappy2 = unsa_unhappy2.shape[0]

In [31]:
sa_unhappy3 = unhappy3[unhappy3["X3"]>=4]
m_unhappy3 = unhappy3[unhappy3["X3"]==3]
unsa_unhappy3 = unhappy3[unhappy3["X3"]<3]
number_of_satisfiedunhappy3 = sa_unhappy3.shape[0]
number_of_moderateunhappy3 = m_unhappy3.shape[0]
number_of_unsatisfiedunhappy3 = unsa_unhappy3.shape[0]

In [32]:
sa_unhappy4 = unhappy4[unhappy4["X4"]>=4]
m_unhappy4 = unhappy4[unhappy4["X4"]==3]
unsa_unhappy4 = unhappy4[unhappy4["X4"]<3]
number_of_satisfiedunhappy4 = sa_unhappy4.shape[0]
number_of_moderateunhappy4 = m_unhappy4.shape[0]
number_of_unsatisfiedunhappy4 = unsa_unhappy4.shape[0]

In [33]:
sa_unhappy5 = unhappy5[unhappy5["X5"]>=4]
m_unhappy5 = unhappy5[unhappy5["X5"]==3]
unsa_unhappy5 = unhappy5[unhappy5["X5"]<3]
number_of_satisfiedunhappy5 = sa_unhappy5.shape[0]
number_of_moderateunhappy5 = m_unhappy5.shape[0]
number_of_unsatisfiedunhappy5 = unsa_unhappy5.shape[0]

In [34]:
sa_unhappy6 = unhappy6[unhappy6["X6"]>=4]
m_unhappy6 = unhappy6[unhappy6["X6"]==3]
unsa_unhappy6 = unhappy6[unhappy6["X6"]<3]
number_of_satisfiedunhappy6 = sa_unhappy6.shape[0]
number_of_moderateunhappy6 = m_unhappy6.shape[0]
number_of_unsatisfiedunhappy6 = unsa_unhappy6.shape[0]

In [36]:
number_of_happy = happy.shape[0]
number_of_unhappy = unhappy.shape[0]

In [37]:
#Percentages of satisfied, moderate and unsatisfied among happy customers are calculated.
percentage_happy1 = [number_of_satisfiedhappy1 * 100 / number_of_happy,number_of_moderatehappy1 * 100 / number_of_happy,number_of_unsatisfiedhappy1 * 100 / number_of_happy]
percentage_happy2 = [number_of_satisfiedhappy2 * 100 / number_of_happy,number_of_moderatehappy2 * 100 / number_of_happy,number_of_unsatisfiedhappy2 * 100 / number_of_happy]
percentage_happy3 = [number_of_satisfiedhappy3 * 100 / number_of_happy,number_of_moderatehappy3 * 100 / number_of_happy,number_of_unsatisfiedhappy3 * 100 / number_of_happy]
percentage_happy4 = [number_of_satisfiedhappy4 * 100 / number_of_happy,number_of_moderatehappy4 * 100 / number_of_happy,number_of_unsatisfiedhappy4 * 100 / number_of_happy]
percentage_happy5 = [number_of_satisfiedhappy5 * 100 / number_of_happy,number_of_moderatehappy5 * 100 / number_of_happy,number_of_unsatisfiedhappy5 * 100 / number_of_happy]
percentage_happy6 = [number_of_satisfiedhappy6 * 100 / number_of_happy,number_of_moderatehappy6 * 100 / number_of_happy,number_of_unsatisfiedhappy6 * 100 / number_of_happy]

In [39]:
#Percentages of satisfied, moderate and unsatisfied among unhappy customers are calculated.
percentage_unhappy1 = [number_of_satisfiedunhappy1 * 100 / number_of_unhappy,number_of_moderateunhappy1 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy1 * 100 / number_of_unhappy]
percentage_unhappy2 = [number_of_satisfiedunhappy2 * 100 / number_of_unhappy,number_of_moderateunhappy2 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy2 * 100 / number_of_unhappy]
percentage_unhappy3 = [number_of_satisfiedunhappy3 * 100 / number_of_unhappy,number_of_moderateunhappy3 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy3 * 100 / number_of_unhappy]
percentage_unhappy4 = [number_of_satisfiedunhappy4 * 100 / number_of_unhappy,number_of_moderateunhappy4 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy4 * 100 / number_of_unhappy]
percentage_unhappy5 = [number_of_satisfiedunhappy5 * 100 / number_of_unhappy,number_of_moderateunhappy5 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy5 * 100 / number_of_unhappy]
percentage_unhappy6 = [number_of_satisfiedunhappy6 * 100 / number_of_unhappy,number_of_moderateunhappy6 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy6 * 100 / number_of_unhappy]

In [42]:
'''How weights are determined ?
X1: Most of the customers happy and unhappy customers are satisfied with X1. What makes happy customers happy and what makes unhappy customers unhappy is not about X1 then. So, its weight is low.
X2: Percentages between happy and unhappy customers are very close to each other. Thus, I assumed effect of X2 on average happiness point should be low.
X3: There is an important difference between percentages of happy people that finds X3 moderate and unhappy ones. So, effect of X3 might be high.
X4: Similar to X2.
x5: There is a dramatic decrease at the percentage of satisfied people. Thus, its weight is high.
X6: Similar to X3.
'''
data_frame['average point'] = data_frame['X1']*0.05 + data_frame['X2']*0.05 + data_frame['X3']*0.25 + data_frame['X4']*0.05 + data_frame['X5']*0.35 + data_frame['X6']*0.25

In [41]:
data_frame

     Y  X1  X2  X3  X4  X5  X6  average point
0    0   3   3   3   4   2   4           2.95
1    0   3   2   3   5   4   3           3.40
2    1   5   3   3   3   3   5           3.60
3    0   5   4   3   3   3   5           3.65
4    0   5   4   3   3   3   5           3.65
..  ..  ..  ..  ..  ..  ..  ..            ...
121  1   5   2   3   4   4   3           3.45
122  1   5   2   3   4   2   5           3.25
123  1   5   3   3   4   4   5           4.00
124  0   4   3   3   4   4   5           3.95
125  0   5   3   2   5   5   5           4.15

[126 rows x 8 columns]

In [48]:
average_point = pd.DataFrame(data_frame, columns = ['Y','average point'])
print(average_point)

     Y  average point
0    0           2.95
1    0           3.40
2    1           3.60
3    0           3.65
4    0           3.65
..  ..            ...
121  1           3.45
122  1           3.25
123  1           4.00
124  0           3.95
125  0           4.15

[126 rows x 2 columns]

In [59]:
actual_happy = average_point[average_point["Y"]==1]
predicted_happy = actual_happy[actual_happy["average point"]>=2.5]
actual_unhappy = average_point[average_point["Y"]==0]
predicted_unhappy = actual_unhappy[actual_unhappy["average point"]<2.5]

In [63]:
correct_prediction = predicted_happy.shape[0] + predicted_unhappy.shape[0]

In [64]:
correct_prediction

72

In [65]:
accuracy = 100 * correct_prediction / data_frame.shape[0]

In [66]:
accuracy

57.142857142857146